.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header img {
  width: 90px;
  margin-bottom: 10px;
}

.login-header h2 {
  margin: 0;
}

.login-header p {
  font-size: 14px;
  color: #555;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 10px;
  font-size: 14px;
}

.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 13px;
}

.login-options a {
  color: #6E8325;
  text-decoration: none;
}

.login-form button {
  background: #032313;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
