.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #032313;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logo {
    width: 150px;
    object-fit: contain;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
}



.texto {
    color: '#fff';
    font-weight: 'bold';
    font-family: 'plus-jakarta-sans'
}

.botao {
    margin: 2;
    padding: 1;
    border-radius: 5;
}
